<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="flex justify-between p-3 bg-gray-50 fixed top-0 left-0 right-0 z-10 shadow-md">
        <h3 class="text-3xl font-bold text-blue-500">Scatch</h3>
        <% var loggedin=typeof loggedin !== "undefined" ? loggedin : true %>
        <% if(loggedin){ %>
            <div class="flex gap-5">
                <a class="hover:text-slate-500 text-lg text-slate-700" href="/shop">Shop</a>
                <a class="hover:text-slate-500 text-lg text-slate-700" href="/cart">Cart</a>
                <a class="hover:text-slate-500 text-lg text-slate-700" href="/account">My Account</a>
                <a class="hover:text-red-400 text-red-600 text-lg" href="/users/logout">Logout</a>
                
            </div>
        <% } %>
        
    </nav>

    <div class="mt-10"></div>